html{
    background-image: url('/Port/css/back/12.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

:root{

    --cor1:rgb(241, 206, 8);
}

header{
    box-shadow: 0px 5px 20px black;
    margin: 3vh 7vw 4vh;
    background: rgb(255, 255, 255);}
.bloco{

    display: flex;}

.bloco-texto{
    padding: 14vh 2vw 10vh 7vw;
    width: 50%;}
.bloco-texto-sal{

    font-size: 2.5vw;}


.bloco-texto-nome{
    padding-bottom: 2vh;
    font-size: 4vw;}
.bloco-texto-nome span{
    color: var(--cor1);}


.bloco-texto-prof{
    border-radius: 10px;
    background-color: var(--cor1);
    padding: 1vh;
    font-size: 1.3vw;
    font-style:italic;
    display: inline-table;}
    
.bloco-texto-descricao{
    font-style: italic;
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 1.1vw;
    text-align: justify;}
.bloco-texto-linkcontato{
    background-color: var(--cor1);
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    border-radius: 15px;
    padding: 1vh 2vh;
    font-style:oblique;

}


.bloco-perfil{
    width: 50%   
}
.bloco-perfil-img{
    width: 100%;
    height: 100%;
}

@media(max-width: 1100px){
    header{
        margin: 20vh 2vw;
        }


    .bloco-texto{
        padding: 10vh 2vw 9vh 6vw;
    }
    .bloco-texto-descricao{
    font-size: 1.8vw;}
    
}



@media(max-width: 700px){
    .bloco{
        position: relative;
        display: block;}
    
    .bloco-texto{
        

        width: 100%;
        padding: 5vh 3vw 5vh 9vw;
    }

    .bloco-texto-descricao{
    font-size: 3.2vw;}
    
    .bloco-texto-sal{
        font-size: 5vw;}
    
    .bloco-texto-nome{
    font-size: 9vw;}

    .bloco-texto-prof{
    font-size: 3vw;}

    .bloco-texto-linkcontato{
    font-size: 3vw;
    }

    .bloco-perfil{
        position: absolute;

        width: 100%;}
        
}